<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759196024503-tphksrska86gpu5k0t3kltt3s1nk3j0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759196024503-tphksrska86gpu5k0t3kltt3s1nk3j0k</string>
	<key>API_KEY</key>
	<string>AIzaSyBD2AyHoa_CzYQ7LhJdRso0oUIH2xAogE0</string>
	<key>GCM_SENDER_ID</key>
	<string>759196024503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.youngjun.BasicApp-with-RIBs</string>
	<key>PROJECT_ID</key>
	<string>ribstest-f7b22</string>
	<key>STORAGE_BUCKET</key>
	<string>ribstest-f7b22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759196024503:ios:3108630af58cbbac849732</string>
	<key>DATABASE_URL</key>
	<string>https://ribstest-f7b22.firebaseio.com</string>
</dict>
</plist>